@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

* {
    margin: 0;
    padding: 0;
}

div.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-image: url("../img/springbg.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

div.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.masthead .masthead-heading {
    color: #302b2b;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {

    header {
        background-color: #b8c5dc;
    }

    div.masthead {
        background-color: #90bddd;
        padding-bottom: 12.5rem;
    }

    div.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        text-shadow: 1px 1px white;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    div.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        text-shadow: 1px 1px white;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }

    div.comments input[type="text"] {
        width: 200px;
        margin-top: 10px;
        float: right;
    }

    div.comments #submit {
        float:right;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    hr {
        clear:right;
    }

    .footer {
        background-color: #b8c5dc;
        color: rgb(65, 61, 61);
        text-align: center;
        font-size: 0.9rem;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    a:-webkit-any-link {
        color: rgb(65, 61, 61);
        cursor: pointer;
        text-decoration: none;
        font-style: italic;
    }
}